/* chat-app.component.css */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #ffffff;
  }
  
  .chat-logo {
    background-color: #001f33;
    color: #fff;
    padding: 10px;
    text-align: center;
    cursor: pointer;
    position: fixed;
    z-index: 99;
    bottom: 14px;
    right: 22px;
    border-radius: 5px;
  }
  
  .chat-window {
    display: none;
    position: fixed;
    min-height: 65vh;
    bottom: 0;
    right: 20px;
    width: 400px;
    background-color: #fff;
    border: 1px solid #ccc;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    z-index: 999; /* Set a higher z-index */
  
    border-radius: 5px;
  }
  
  .chat-header {
    background-color: #001f33;
    color: #fff;
    padding: 10px;
    padding-left: 40px;
    font-size: 18px;
    text-align: center;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    position: relative;
    display: flex;
    justify-content: space-between;
  }
  .minimize-icon {
    color: #fff;
    cursor: pointer;
    position: absolute;
    right: 57px;
    /* font-size: 25px; */
  }
  .close-icon{
    color: #fff;
    cursor: pointer;
    margin-top: 4px;
    /* font-size: 20px; */
  }
  .minimize-icon,
  .close-icon {
    color: #fff;
    cursor: pointer;
  }
  
  .chat-body {
    padding: 15px;
    max-height: 50vh;
    overflow-y: auto;
    white-space: pre-wrap;
  }
  
  .chat-input {
    width: calc(100% - 20px);
    padding: 10px;  
    margin: 0 10px;
    /* border: 1px 0px 0px 0px solid #000; */
    border: none;
    border-bottom: 1px solid #000;
   
    /* border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px; */
    margin-bottom: 1rem;
    outline: none;
  }
  
  .send-button {
    width: 70px;
    /* padding: 8px; */
    padding: 0px 15px 0px 15px;
    background-color: #001f33;
    color: #fff;
    border: none;
    border-radius: 5px;
    margin: 0 7px;
    /* border-top-right-radius: 5px; */
    cursor: pointer;
    /* margin-top: 10px; */
    font-size: 20px;
    margin-bottom: 1.2rem;
  }
  .body-heigh{
    display: flex; 
    bottom: 0;
   position: absolute;
   width: 100%;
  }
  .chat-body {
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    overflow-x: hidden;
  
  }
  
  .user-message {
    align-self: flex-start;
    background-color: #e6e6e6;
    padding: 8px;
    border-radius: 8px;
    margin: 4px 0;
  }
  
  .bot-message {
    /* align-self: flex-end; */
    background-color: #001f33;
    color: white;
    padding: 8px;
    border-radius: 8px;
    margin: 4px 0;
    background-color: #001f33;
    border: 1px solid #001f33;
    font-weight: 500;
  
  }
  span.user-icon.fa.fa-user-circle-o {
    position: absolute;
    left: 12px;
    bottom: 11px;
  }
  span.expand-icon.fa.fa-expand {
    margin-right: 35px;
      position: absolute;
      right: 68px;
      bottom: 11px;
  }
  
  
  .chat-container {
    display: flex;
    /* flex-direction: column-reverse;  */
    /* max-height: 400px; Adjust as needed */
  }
  
  .chat-body {
    display: flex;
    /* flex-direction: column-reverse;  */
  }
  