<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Construction Theme Login Page</title>

</head>
<!-- <body>
    <img src="/assets/images/istockphoto-construction.jpg">
  <div class="register-container">
    <h1>Register</h1>
    <form (ngSubmit)="register()">
      <label for="email">Email:</label>
      <input type="email" [(ngModel)]="email" name="email" required>
      <label for="password">Password:</label>
      <input type="password" [(ngModel)]="password" name="password" required>
      <label for="agency">Agency:</label>
      <input type="text" [(ngModel)]="agencyInput" name="agency" required>
      <button type="submit">Register</button>
    </form>
  </div>
  <br>
  <div>
    <p>Already have an account? <a href="/login">Log in here</a>.</p>
  </div>
</body> -->
</html>


<!-- <div>
    <h2>Register</h2>
    <form (ngSubmit)="register()">
      <label for="email">Email:</label>
      <input type="email" [(ngModel)]="email" name="email" required>
      <label for="password">Password:</label>
      <input type="password" [(ngModel)]="password" name="password" required>
      <button type="submit">Register</button>
    </form>
  </div> -->
